{% extends "app/layout.html" %}

{% block content %}

<style>
    .container-home {
        height: 400px;
        position: relative;
    }

    .center-home {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .button-home {
        background-color: steelblue; /* Green */
        border: none;
        color: white;
        padding: 30px 64px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
        border-radius: 1em;
    }
        /* Add a background color on hover */
        .button-home:hover {
            background-color: royalblue;
        }
    .rounded-home {
        border-radius: 25px;
        background: #73AD21;
        padding: 20px;
        width: 200px;
        height: 150px;
    }
</style>

<div class="container-home">
    <div class="center-home">
        <p><a href="{% url 'newproject' %}" class="button-home">Create Project &raquo;</a></p>
    </div>
</div>

<div class="container-home">
    <div class="center-home">
        <p><a href="{% url 'myprojects' %}" class="button-home">My Projects &raquo;</a></p>
    </div>
</div>

<div class="container-home">
    <div class="center-home">
        <p><a href="{% url 'viewprojects' %}" class="button-home">View Projects &raquo;</a></p>
    </div>
</div>

{% endblock %}

